@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #181818;
    color: #ddd;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.thumbnail {
    min-width: 80px!important;
    max-width: 80px!important;
    min-height: 80px!important;
    max-height: 80px!important;
}

.avatar-mini {
    min-width: 32px!important;
    max-width: 32px!important;
    min-height: 32px!important;
    max-height: 32px!important;
}

.w-28-force {
    min-width: 112px !important;
    max-width: 112px !important;
}

.h-28-force {
    min-height: 112px !important;
    max-height: 112px !important;
}

.max-w-screen-blog {
    max-width: 700px;
}
